* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

.black {
    color: #2B283A;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F55A5A;
    padding: 0.7em;
    color: white;
    width: 100%;
}

.nav-image {
    margin: 0.4em;
}

h1 {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.card-list {
    display: flex;
    flex-direction: column;
    margin: 5vw;
    gap: 1.25em;
}

.card {
    display: flex;
    align-items: center;
    font-size: 0.7rem;
    gap: 2em;
}

.card-image {
    height: 16em;
    width: 11em;
    object-fit: cover;
    border-radius: 5px;
}

.card-title {
    margin: 2px 0px 10px 0px;
    font-size: 1.5rem;
}

.card-location-name {
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 0.5em;
}

.card-location-name>img {
    margin-right: 5px;
}

.card-location-map {
    color: #918E9B;
}

.card-dates {
    font-weight: bold;
    margin-bottom: 0.5em;
}

.card-description {
    overflow: hidden;
    text-overflow: ellipsis;
}

hr {
    background-color: #F5F5F5;
    opacity: 25%;
}